* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #0B2027;
  font-family: 'Roboto', sans-serif;
  line-height: 18px;
}

a{
  text-decoration: none;
  color: #FFF;
}

.btn-menu {
  display: none;
  padding: 20px;
  background: #0D2C44;
}

.btn-menu .icon {
  float: right;
}

.menu-container {
  width: 20%;
  min-width: 300px;
  margin: 50px;
  /* display: inline-block; */
}

/* .menu-container .menu {
  width: 100%;
} */

.menu-container ul {
  list-style: none;
}

.menu-container .menu li a {
  color: #494949;
  display: block;
  padding: 15px 20px;
  background: #E9E9E9
}

.menu-container .menu li a:hover {
  background: #1A95D5;
  color: #FFF;
}

/* .menu-container .menu .icon {
  font-size: 12px;
  line-height: 18px;
} */

.menu-container .menu .icon.left {
  float: left;
  margin-right: 10px;
}

.menu-container .menu .icon.right {
  float: right;
  margin-left: 10px;
}

.menu-container .menu ul {
  display: none;
}

.menu-container .menu ul li a {
  background: #424242;
  color: #E9E9E9;
}

.menu-container .menu .active > a {
  background: #1A95D5;
  color: #FFF;
}

@media screen and (max-width: 450px) {

  .menu-container {
    margin: 0;
    width: 100%;
    /* position: fixed; */
    /* top: 0; */
    /* z-index: 1000; */
  }

  .btn-menu {
    display: block;
  }

  .menu-container .menu {
    display: none;
  }
}
